<div id="<%= dom_id spell %>">
  <p>
    <strong>Wizard:</strong>
    <%= spell.wizard_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= spell.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= spell.description %>
  </p>

</div>
